.delete-post {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.delete-post .btns {
  text-align: right;
}

.delete-post .btn {
  font-weight: 600;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--color-primary);
  background-color: red;
}

.delete-post .btn:active {
  transform: scale(0.99);
}

.delete-post .cancle-btn {
  color: black;
  color: var(--color-primary);
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .delete-post {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .delete-post {
    width: 250px;
  }
}