.create-post {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.create-post .poster-info {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.create-post .title-info {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  align-items: start;
}

.public-icon-container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #DDD;
}

.create-post textarea {
  width: 100%;
  border: none;
  overflow:hidden;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
}

.create-post .img-wrapper {
  width: 100%;
  max-height: 150px;
  display: grid;
  place-items: center;
  overflow: auto;
}

.create-post .img-wrapper::-webkit-scrollbar {
  display: none;
}

.create-post .img-wrapper img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid var(--border-radius-color);
  /* background-color: red; */
}

.create-post .image-url {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid var(--border-radius-color);
  border-radius: 10px;
}

.create-post button {
  color: #FFF;
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.create-post button:active {
  transform: scale(0.99);
}

@media screen and (max-width: 600px) {
  .create-post {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .create-post {
    width: 250px;
  }
}