/* .custom-dialog .modal-btn {
  width: 100%;
  border: none;
  border-radius: 20px;
  background-color: var(--background-color-primary);
  cursor: text;
}

.custom-dialog .modal-btn:hover {
  background-color: var(--background-hover-dark);
  border: none;
}

.custom-dialog .modal-btn .input-placeholder {
  width: 100%;
  font-size: 16px;
  padding: "20px";
  text-align: left;
  color: var(--color-grey);
  text-transform: none;
} */