.body-left {
  /* flex: 1; */
  padding: 10px;
  position: relative;
}

.body-left::after {
  content: "";
  position: absolute;
  width: 92%;
  height: 1px;
  bottom: 0px;
  background-color: #CCC;
}

@media screen and (max-width: 1030px) {
  .body-left {
    display: none;
  }
}