.story {
  flex: 1;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-color: #ddd;
  box-shadow: var(--box-shadow-small);
  cursor: pointer;
}

.story-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  filter: brightness(70%);
}

.story-img:hover {
  transform: scale(1.05)
}

.story .img-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
  color: #1876F2;
  object-fit: cover;
  border: 5px solid #1876F2;
  background-color: #FFF;
  position: absolute;
}

.story .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story p {
  width: 80%;
  color: #FFF;
  position: absolute;
  bottom: 10px;
  left: 10px;
}