.post {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: var(--box-shadow-small);
  position: relative;
}

.post-text {
  padding: 10px 20px;
}

.post-img img {
  width: 100%;
  max-height: 450px;
  position: relative;
  object-fit: cover;
}

.post-option {
  display: flex;
  padding: 5px 15px;
}

.post-action-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
}

.post-action {
  border: none;
  color: var(--color-grey);
  background-color: transparent;
  cursor: pointer;
}
.post-action:hover {
  color: #333;
}
.post-action:nth-child(1) {
  margin-right: 10px;
}
